*{
	font-family: "微软雅黑";
	font-size: 12px;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
	color: #000;
}
a:focus{
	text-decoration: none;
	color: #000;
}
ul,li{
	list-style: none;
}
body{
	min-width: 740px;
	background-color: #F8F8F8;
}
img{
	width: 100%;
	height: 100%;
}
/*.thumbnail{
	border-radius:0px ;
}*/


.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}

.section_top .ul_Login li{
	float: right;
	padding-left:20px;
	width: 80px;
	height: 80px;
	text-align: center;
}
.section_top .ul_Login a{
	padding: 0;
	display: inline-block;
}


.container_nav{
	padding: 0;
}
.ul_Logins li a{
	position: relative;
	padding: 0;
	color: #F18F00;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
}
.ul_Logins li  a:focus{
	background: none;
	color: #F18F00;
}
.ul_Logins li  a:hover{
	background: none;
	color: #F18F00;
}
.user_pho{
	padding-right: 5px;
}
.ul_Logins li  a:hover .nav-logo_i{
	left: 0;
	width: 100%;
	background: #F18F00;
}
/*logo*/
 .section_logo{
	width: 100%;
	background: white;
	border:none;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
 .navbar-fixed-top{
	 box-shadow: 0 2px 2px rgba(0,0,0,.25);
 }
.section_logo .navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	border:none;
}
.section_logo .nav-logo{
	margin-left: 60px;
}
.section_logo .nav-logo  a{
	display: inline-block;
	position: relative;
	color: #222;
	font-size: 14px;
	padding: 0;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 2px;
	
}
.section_logo .nav-logo  span{
	font-size: 13px;
	padding-right: 3px;
	color: inherit;
}
.section_logo .nav-logo .active_zch{
	color: white !important;
	border-bottom: 4px solid #F18F00;
	background: #F18F00 ;
}
.nav-logo_i{
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 0%;
	height: 4px;
	background: #F18F00;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.section_logo .nav-logo span{
	padding-right: 3px;
}
.section_logo .nav-logo  a:hover{
	color: #F18F00;
}

.section_logo .nav-logo  a:hover .nav-logo_i{
	left: 0;
	width: 100%;
	background: #F18F00;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    padding: 0;
}
.section_logo .logo{
	display: inline-block;
	width: 75px;
	height: 80px;
}
.section_logo .navbar-header{
	margin: 0;
}
.section_logo .btn_logo{
	margin-top: 23px;
	background-color: #333;

}
.section_logo .btn_logo .icon-bar{
	background-color: #F18F00;
}

.navbar-search{
	margin-top: 23px;
}
.form-control_search{
	border-right: none;
	border-radius:4px 0 0 4px;
	float: left;
}
.form-control:focus{
	border-color: #F18F00;
	box-shadow: 0 0 2px #F18F00;
}
.btn_search{
	border-left: none;
	background: #F18F00;	
}
.btn_search span{
	color: white;
}

/*footer*/
.section_footer{
	background-color:#222; 
}
.Version{
	margin-top:50px; 
	padding:30px 15px 15px 15px; 
}
.footer_nav{
	min-height: 176px;
}
.footer_nav a,.banquan{
	font-size: 12px;
	color: #666;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	text-align: center;
}
.footer_nav a:hover{
	text-decoration: underline;
}
.footer_nav dt a{
	color: #F18F00;
	padding: 0 0 5px 0;
	display: inline-block;
	border-bottom: 1px solid #F18F00;
}
.footer_nav dd{
	padding: 3px 0 3px 0;
}


/*login*/
.login_bar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 10;
	width: 600px;
	height: 300px;
	overflow: hidden;
	border-radius:4px; 
	background: url(../images/login.png)repeat-x;
	box-shadow: 0 0 10px rgba(0,0,0,.8);
	transition:1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	transform-origin:0%;
	transform:rotate3d(1,0,0,90deg);
}
.login_con_bar{
	width: 100%;
	height: 100%;
	position: relative;
	background: -webkit-linear-gradient(rgba(28,52,77,0.2), rgba(28,52,77,0.7));
	background: -o-linear-gradient(rgba(28,52,77,0.2), rgba(28,52,77,0.7));
	background: linear-gradient(rgba(28,52,77,0.2), rgba(28,52,77,0.7));
}
.up_photo_bar{
	position: absolute;
	left:50px;
	top: 75px;
	width: 130px;
	height: 130px;
	line-height: 130px;
	text-align: center;
	border: 1px solid white;
	border-radius:50%;
	transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
.up_photo_bar:hover{
	box-shadow: 0 0 15px white;
}
.up_photo_bar:hover .up_photo img{
	transform:rotate(360deg) scale(1.2);
}
.up_photo{
	display: inline-block;
	width: 70px;
}
.up_photo img{
	width: 100%;
	height: 100%;
	padding: 5px;
	transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}
.user_login_bar{
	position: absolute;
	right:60px;
	top: 60px;
	width:260px;
}
.btn-warning{
    color: #fff;
    background-color: rgb(255, 113, 34);
    border-color: rgba(255, 113, 34, 0.2);
}
.checkbox label{
    position: relative;
    display: block;
    color: #ccc;;
    font-size: 10px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user_login_bar .e{
	border-radius: 4px 4px 0 0;
	padding-left:45px;
	height: 40px;
}
.user_login_bar .p{
	border-radius: 0 0 4px 4px;
	padding-left:45px;
	height: 40px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display:block;
    vertical-align: middle;
}
.btn-group .iA{
	position: absolute;
}
.btn-group  .email{
	top: 10px;
	left: 10px;
	width: 25px;
	height: 20px;
	background: url(../images/email1.png) no-repeat;
}
.btn-group  .pwd{
	top: 50px;
	left: 10px;
	width: 25px;
	height: 20px;
	background: url(../images/pwd1.png) no-repeat;
}
.login_info{
	margin-top: 10px;
}
.login_info a{
	color: #ccc;
}
.login_info a:hover{
	text-decoration:underline;
}
.login_info #Forgot{
	float: left;
	font-size: 10px;
}
.login_info #SgUp{
	float: right;
	font-size: 10px;
}
#login_btn{
	letter-spacing: 12px;
}

.close_btn{
	position: absolute;
	right: 0;
	top: 10px;
	width: 36px;
	height: 26px;
	line-height: 26px;
	background: rgba(204,204,204,.5);
	border-radius:20px 0 0 20px; 
}
.close_btn i{
	display: inline-block;
	margin: 2px;
	width: 22px;
	height: 22px;
	background: url(../images/popctn_bg2.png) no-repeat -40px -280px;
	overflow: hidden;
	transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
.close_btn:hover i{
	transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
}

#break_top{
	display: inline-block;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 48px;
	height: 48px;
}

#tech{
	background:url("../images/yc.png") no-repeat left center;
	padding-left:20px;
	color:#666;
}

#tech:hover{
	color:#FFF;
}

.navy{
	background:url("../images/logo_2.png") no-repeat center center;
}