*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "微软雅黑";
	margin: 0px;
	font-size: 12px;
}
a{
	color: #333333;
	text-decoration: none;
}
.w{
	width: 1200px;
	margin: 0px auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
/*//顶部*/
.top{
	min-width: 1200px;
	height: 40px;
	line-height: 40px;
	background-color: #e1f3fd;
}
.top .toi{
	height: 40px;
	line-height: 40px;
	background-color: #e1f3fd;
}
.top .toi li span{
	padding-left: 20px;
}
.top .toi li span:after{
	display: inline-block;
	content: ">";
	-webkit-transform: rotate(90deg);  /*//默认时xuanzhuan旋转角度    deg度*/
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
.top .toi li.active span:after{
	-webkit-transform: rotate(270deg);  /*//鼠标事件放上去xuanzhuan旋转角度    deg度*/
	-moz-transform: rotate(270deg);
	transform: rotate(270deg);
}
.top .toi ul{
	list-style: none;
}
.top .toi ul li{
	padding: 0px 10px;
	float: left;
	position: relative;
}
.top .toi ul li:hover{
	background-color: white;
}
.top .toi ul li a{
	color: #333333;
}
.top .toi ul li:hover a{
	color: #535353;
}
/*e二级标题*/
.top .toi ul ul{
	text-align: center;
	background-color: white;
	width: 98px;
	line-height: 32px;
	position: absolute;
	display: none;
	border: solid 1px gainsboro;
	border-top: #FFFFFF;
	z-index: 999;
	top: 40px;
	left: 0px;
}
.top .toi ul ul li{
	float: none;
}
.top .toi ul ul li:hover{
	background-color: gainsboro;
}
.top .toi ul ul li:hover a{
	color: #dd2727;
}
/*//左侧的浮框*/
.side-ad{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 999;
}


/*logo微信*/
.wechat{
	width: 40px;
	height: 40px;
}
.wechat ul{
	margin-top: 5px;
	width: 20px;
	height: 20px;
	float: left;
	list-style: none;
}
.wechat ul li{
	width: 20px;
	height: 20px;
	padding: 0px;
	position: relative;
}
.wechat ul li img{
	width: 20px;
	height: 20px;
}
.wechat ul:hover{
	background: no-repeat;
}
.wechat ul:hover a{
	color: initial;
}
/*/二级菜单展示效果  右边的二维码/*/
.wechat ul li:hover ul{
	display: block;
}
.wechat ul li a{
	float: left;
	text-decoration: none;
}
/*//二级菜单样式*/
.wechat li ul{
	width: 100px;
	height: 100px;
	z-index: 999;
	position: absolute;
	left: -65px;
	margin-top: 35px;
	border: solid 1px #DCDCDC;
	padding: 0px;
	display: none;
}
.wechat li ul li{
	width: 100px;
	height: 100px;
	/*//q取消二级菜单浮动 变成纵向排布*/
	float: none;
}
.wechat li ul li img{
	width: 100px;
	height: 100px;
}

/*logo非凡学院*/

.header{
	height: 70px;
	padding: 20px 0px;
}
.header .hdlog1{
	width: 220px;
	height: 70px;
	margin: 0px;
	padding: 0px;
}
.header .hdlog1 img{
	width: 220px;
	height: 70px;
}

.header .hdlog2{
	color: #383a37;
	font-size: 16px;
	line-height: 70px;
	width: 150px;
	height: 70px;
	padding-left: 30px;
}
.header .hdlog3{
	height: 50px;
	text-align: center;
	padding: 10px 0px;
	line-height: 32px;
	color: #383a37;
}
.header .hdlog3 ul{
	height: 50px;
	float: left;
	list-style: none;
}
.header .hdlog3 ul li{
	width: 160px;
	height: 50px;
	float: left;
}
.header .hdlog3 ul li p{
	font-size: 16px;
	text-align: left;
	padding-left: 50px;
	line-height: 50px;
}
/*//轮播图*/
.box{
	width: 1200px;
	height: 350px;
	position: relative;
	overflow: hidden;
}
.box ul{
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	list-style: none;
}
.box ul li {
	width: 1200px;
	height: 350px;
	float: left;
}
.box ul li img{
	width: 1200px;
	height: 350px;
}
.points{
	position: absolute;
	bottom: 20px;
	left: 50%;
}
.points span{
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 4px;
	border: solid 1px #FFFFFF;
	border-radius: 50%;
	background-color:white;
	opacity：0.1;   /*//不透明0~**//*/*/
}
.points span.active{
	background-color: #de2425;
}


/* 主题导航*/
.contain{
	height: 450px;
	width: 1200px;
	margin-top: 25px;
}
.category{
	height: 450px;
	width: 220px;
	border: solid 1px gray;
}
.category*{
	box-sizing: border-box;
}
.category .title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-image: url(../images/首页-4改_03.png);
	color: #FFFFFF;
}
.category ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
}
.category ul li{
	padding-left: 30px;
	line-height: 40px;
	box-sizing: border-box;
	border-top: solid 1px gainsboro;

}
.category ul li a{
	text-decoration: none;
	color: #333333;
}
.category ul li.an:hover{
	box-shadow: 1px 1px 1px 1px #FFFFF0;
	background-color: #DCDCDC;
	display: block;
}
.category ul li.an:hover .nobo{
	display: block;
}
.category ul li.an:hover a{
	color: red;	
}
/*//二级区域*/
.category ul li.an .nobo{
	width: 550px;
	height: 410px;
	position: absolute;
	margin-top: -41px;
	list-style: none;
	margin-left: 190px;
	background-color: #FFFFF0;
	display: none;
}
.category ul li.an .nobo ul{
	width: 550px;
	height: 410px;
	margin-top: 20px;
	list-style: none;
	line-height: 12;
}
.category ul li.an .nobo ul li{
	width: 250px;
	height: 60px;
	float: left;
	margin-left: 25px;
	border-top: solid 1px #DCDCDC;
}
.category ul li.an .nobo ul li a{
	color: #373737;
}
.category ul li.an .nobo ul li:hover{
	/*background-color: #CFCDCB;*/
}
.category ul li.an .nobo ul li:hover a{
	color: red;
}
/*导航中间*/


.zho{
	width: 730px;
	height: 450px;
	margin-left: 20px;
}
.zho .title{
	width: 730px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	border-bottom: solid 1px red;
}

.zho .title{
	width: 730px;
	margin: 0px;
	padding: 0;
	list-style: none;
	position: relative;
}
.zho ul.title span.liner{
	display: block;
	width: 94px;
	height: 3px;
	background-color: red;
	position: absolute;
	top: 39px;
	left: 0px;
}
.zho .title li{
	float: left;
	width: 94px;
	text-align: center;	
}
.zho .title a{
	text-decoration: none;
	color: #535353;
}
.zho .title li.active{
	font-weight: 700;
}
.zho .title li.active a{
	color: red;
}
.sub-category{
	position: absolute;
	top: 40px;
	left: 220px;
	width: 500px;
	height: 410px;
	display: none;
	box-sizing: border-box;
}
.zho .item{
	width: 730px;
	height: 410px;
	display: none;
	background: no-repeat;
}
.zho .list .item-1{
	display: block;
	width: 730px;
	height: 410px;
	padding: 0px;
	margin: 0px;
	background-color: cornsilk;
}
.zho .list .item-1 ul{
	padding-top: 30px;
	width: 300px;
	height: 410;
	margin: 0px;
	list-style: none;
}
.zho .list .item-1 ul li{
	padding-top: 10px;
	width: 300px;
	height: 85px;
}
.zho .list .item-1 ul li a{
	text-align: left;
	font-size: 12px;
	color: #373737;
	line-height: 26px;
	
}
.zho .list .item-1 ul li img{
	width: 70px;
	height: 70px;
	padding: 5px 10px;
	margin: 0px;
}
.zho .list .item-1 ul a:hover{
	color: red;
}}
/*{white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
width:100px;}／/*不换行，超出部分隐藏且以省略号形式出现*/*/
/*二、中文换行以及强制不换行
Div p{
	white-space:pre-wrap;
	width:150px;
	}/*只对中文起作用，强制换行*/
/*Div p{
 * 	white-space:nowrap;
 * width:10px;
 * }强制不换行，都起作用*/
/**/
/*.zho .list .list .item-2{
	/*background-color: #0000FF;*/
/*}*/

.zho .list .item-2{
	width: 730px;
	height: 410px;
	padding: 0px;
	margin: 0px;
	background-color: cornsilk;
}
.zho .list .item-2 ul{
	padding-top: 30px;
	width: 300px;
	height: 410;
	margin: 0px;
	list-style: none;
}
.zho .list .item-2 ul li{
	padding-top: 10px;
	width: 300px;
	height: 85px;
}
.zho .list .item-2 ul li a{
	text-align: left;
	font-size: 12px;
	color: #373737;
	line-height: 26px;
	
}
.zho .list .item-2 ul li img{
	width: 70px;
	height: 70px;
	padding: 5px 10px;
	margin: 0px;
}
.zho .list .item-2 ul a:hover{
	color: red;
}

.zho .list .item-3{
	width: 730px;
	height: 410px;
	padding: 0px;
	margin: 0px;
	background-color: ivory;
}
.zho .list .item-3 ul{
	padding-top: 30px;
	width: 300px;
	height: 410;
	margin: 0px;
	list-style: none;
}
.zho .list .item-3 ul li{
	padding-top: 10px;
	width: 300px;
	height: 85px;
}
.zho .list .item-3 ul li a{
	text-align: left;
	font-size: 12px;
	color: #373737;
	line-height: 26px;
	
}
.zho .list .item-3 ul li img{
	width: 70px;
	height: 70px;
	padding: 5px 10px;
	margin: 0px;
}
.zho .list .item-3 ul a:hover{
	color: red;
}
.zho .list .item-4{
	width: 730px;
	height: 410px;
	padding: 0px;
	margin: 0px;
	background-color: lavender;
}
.zho .list .item-4 ul{
	padding-top: 30px;
	width: 300px;
	height: 410;
	margin: 0px;
	list-style: none;
}
.zho .list .item-4 ul li{
	padding-top: 10px;
	width: 300px;
	height: 85px;
}
.zho .list .item-4 ul li a{
	text-align: left;
	font-size: 12px;
	color: #373737;
	line-height: 26px;
	
}
.zho .list .item-4 ul li img{
	width: 70px;
	height: 70px;
	padding: 5px 10px;
	margin: 0px;
}
.zho .list .item-4 ul a:hover{
	color: red;
}

/*二级区域*/



/*右*/

.contain .yorg{
	width: 200px;
	height: 450px;
	text-align: center;
}
.contain .yorg .rem{
	width: 200px;
	height: 40px;
}
.contain .yorg .rem a{
	font-size: 14px;
	line-height: 40px;
	color: #333333;
	
}

.contain .yorg .lggg ul{
	width: 200px;
	height: 410px;
	float: none;
	list-style: none;
}
.contain .yorg .lggg ul li{
	width: 200px;
	height: 120px;
}
.contain .yorg .lggg ul li:hover .erjb-1{
	display: block;
}

.contain .yorg .lggg ul li img{
	width: 200px;
	height: 120px;
	
}
.erjb-1{
	width: 190px;
	height: 60px;
	position: absolute;
	margin-top: -65px;
	display: none;
	background-color: #2e525e;
	float: 14px;
	line-height: 24px;
	padding-left: 10px;
	text-align: left;
}
.erjb-1 a{
	color: #FFFFFF;
}


                /*新开班部分*/
.new{
	height: 540px;
	width: 1200px;	
	margin-top: 35px;
}
#dfsdf{
	width: 1200px;
	height: 540px;
}
.asxw{
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	flex-flow: 700;
	text-align: left;
}					
#dfsdf .newTitle{
	height: 40px;
	line-height: 40px;
}
#dfsdf ul.newTitle{
	margin: 0px;
	height: 40px;
	text-align: right;
	list-style: none;
	position: relative;
}
ul.newTitle span.newLiner{
	display: block;
	width: 105px;
	height: 3px;
	background-color: red;
	position: absolute;
	top: 39px;
	left: 0px;
}
.newTitle li{
	float: left;
	width: 105px;
	text-align: center;
}
.newTitle a{
	font-size: 16px;
	line-height: 40px;
	text-align: center;

	color: #535353;
}
.newTitle li.sdd{
	font-weight: 700;
}
.newTitle li.sdd a{
	color: red;
}

.newItem{
	display: block;
	height: 500px;
	padding: 0px;
	box-sizing: border-box;
	margin-top: 40px;
	width: 1200px;
	
}
.zong{
	width: 1200px;
	height: 275px;
	box-sizing: border-box;
	padding-top: 30px;
	
}
.zong .dogj{
	width: 275px;
	height: 245px;
	box-sizing: border-box;
	margin-left: 30px;
}

.imgr{
	height: 180px;
	width: 275px;
	padding: 0px;
	overflow: hidden;
	margin: 0px;
	box-sizing: border-box;
	position: relative;
}
.imgr img{
	width: 100%;
	height: 100%px;
	position: absolute;
}

.zit{
	width: 275px;
	height: 35px;
}

.zit a{
	color: #333333;
	font-size: 14px;
	line-height: 24px;
}
.zit:hover a{
	color: red;
}
.jge{
	width: 275px;
	height: 35px;
	padding: 0px;
}
.jge a{
	color: #535353;
}
.jge:hover a{
	color: lawngreen;
}
.newItem-1{
	width: 1200px;
	height: 500px;
}

.newItem-1 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}
.jiaq table{
	height: 200px;
	width: 580px;
	
}
.jiaq table tr{
	width: 580px;
	height: 40px;
}
.jiaq table tr td{
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
}
.jiaq table tr td a{
	color: #323232;
}
.jiaq table tr td:hover a{
	color: red;
}
.newItem-2{
	width: 1200px;
	height: 500px;
	display: none;
}
.newItem-2 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}
.newItem-3{
	width: 1200px;
	height: 500px;
	display: none;
}
.newItem-3 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}
.newItem-4{
	width: 1200px;
	height: 500px;
	display: none;
}
.newItem-4 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}
.newItem-5{
	width: 1200px;
	height: 500px;
	display: none;
}
.newItem-5 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}
.newItem-6{
	width: 1200px;
	height: 500px;
	display: none;
}
.newItem-6 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}
.newItem-7{
	width: 1200px;
	height: 500px;
	display: none;
}
.newItem-7 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}
.newItem-8{
	width: 1200px;
	height: 500px;
	display: none;
}
.newItem-8 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}

.newItem-9{
	width: 1200px;
	height: 500px;
	display: none;
}
.newItem-9 .jiaq{
	width: 1200px;
	margin-top: 5px;
	height: 200px;
	padding: 0px;
}

/*滚动文字*/
.book{
	width: 1200px;
	height: 30px;
	border-bottom: solid 1PX #DBDBDB;
}
.bonamen{
	width: 100px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	border-bottom: solid 2px red;
}
.bonamen img{
	width: 30px;
	height: 20px;
	margin-right: 5px;
	text-align: left;
}
.xishi{
	width: 1100px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}
.gund{
	margin: 0PX;
	height: 30px;
	line-height: 30px;
	position: absolute;
}
.gund ul{
	margin: 0px;
	padding: 0px;
	width: 1200px;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
}
 .gund ul li{
 	font-size: 12px;
 	width: 450px;
 	float: left;
 	text-align: left;
 }
 /*//..............................师资力量..........*/
 .tehts{
 	width: 1200px;
 	height: 300px;
 	overflow: hidden;
 	margin-top: 35px;
 }
 
 
 .liliang{
 	width: 1200px;
 	height: 40px;
 	padding: 0px;
 	text-align: left;
 	margin: 0px;
 }
 .lilaing a{
 	font-size: 14px;
 	line-height: 40px;
 	color: #2f2f2f;
 }
 #meimao{
 	height: 260px;
 	width: 1200px;
 	margin: 0px;
 	position: relative;
 	padding: 0px;
 	border-top: solid 1px #DCDCDC;
 }
  #meimao #lopo{
 	width: 1200px;
 	height: 260px;
 	margin: 0px;
 	padding: 0px;
 	left: 0;
 	top: 0;
 	list-style: none;
 	position: absolute;
 }
  #meimao #lopo #yige{
  	width: 1200px;
  	height: 260px;
  	float: left;
  }
 #meimao #lopo #yige ul.shi{
 	height: 230px;
 	width: 1200px;
 	padding: 0px;
 	list-style: none;
 	margin: 0px;
 }
 #meimao #lopo #yige ul.shi li{
 	height: 230px;
 	float: left;
 	width: 270px;
 	position: relative;
 	margin: 15px 15px 15px 10px;
 }
 #meimao #lopo #yige ul li a{
 	font-size: 12px;
 	color: #333333;
 	line-height: 24px;
 }
.posk{
 	height: 180px;
 	width: 270px;
 	padding: 0px;
 	margin: 0px;
 }
 .posk img{
 	height: 180px;
 	width: 270px;
 }
.wezhang-1{
 	width: 250px;
 	height: 140px;
 	top: 0px;
 	left: 0px;
 	padding: 20px 10px;
 	display: none;
 	font-size: 12px;
 	line-height: 24px;
 	color: #333333;
 	position: absolute;
 	background-color: rgba(0,0,0,0.3);
 }
 #meimao #lopo #yige ul li:hover .wezhang-1{
 	display: block;
 }
 
 /*////////////////////学员作品///////////////////////////////*/
.xueyuan{
	height: 360px;
	width: 1200px;
	padding: 0px;
	margin-top: 30px;
	position: relative;
}
.xyuanz{
	width: 1200px;
	height: 360px;
}
.mxintm{
	width: 250px;
	height: 40px;
	font-size: 16px;
	color: #333333;
	font-weight: 700;
	line-height: 40px;
	margin: 0px;
	border-bottom: solid 1px silver;
	padding: 0px;
}
ul.nenxue{
	height: 40px;
	width: 950px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-bottom: solid 1px silver;
}
.nenxue li{
	padding: 0px 15px;
	float: left;
}
.nenxue li a{
	font: 14px;
	line-height: 40px;
	color: #333333;
}
.nenxue li.ppx{
	border-bottom: solid 2px red;
}
.nenxue li.ppx a{
	color: red;
}

.zuopoing{
	height: 245px;
	width: 1995px;
	position: absolute;
	top: 45px;
	padding-top: 40px;
	pos-left: 5px;
	padding-bottom: 30px;
	display: none;
}
.zuopoing-1{
	height: 245px;
	width: 1995px;
	position: absolute;
	top: 45px;
	padding-top: 40px;
	pos-left: 5px;
	padding-bottom: 30px;
	display: block;
}
.zuopoing .zuop{
	height: 240px;
	width: 270px;
	margin-top: 0px;
	float: left;
	margin-left: 10px;
	padding: 10px 9px;
}
.zuop .ipgspn{
	height: 180px;
	width: 270;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.ipgspn img{
	height: 180px;
	width: 275;
}
.xz{
	height: 30px;
	width: 270px;
}
.xz a{
	font-size: 12px;
	line-height: 30px;
	color: #333333;
}
.xz:hover a{
	color: red;
}
.lszd{
	height: 30px;
	width: 270px;
}
.lszd a{
	font-size: 12px;
	line-height: 30px;
	color: #808080;
}
.lszd:hover a{
	color: lightblue;
}

.zuopoing-2{
	height: 245px;
	width: 1995px;
	position: absolute;
	top: 45px;
	padding-top: 40px;
	pos-left: 5px;
	padding-bottom: 30px;
}
.zuopoing-3{
	height: 245px;
	width: 1995px;
	position: absolute;
	top: 45px;
	padding-top: 40px;
	pos-left: 5px;
	padding-bottom: 30px;
}
.zuopoing-4{
	height: 245px;
	width: 1995px;
	position: absolute;
	top: 45px;
	padding-top: 40px;
	pos-left: 5px;
	padding-bottom: 30px;
}
.zuopoing-5{
	height: 245px;
	width: 1995px;
	position: absolute;
	top: 45px;
	padding-top: 40px;
	pos-left: 5px;
	padding-bottom: 30px;
}
.zuopoing-6{
	height: 245px;
	width: 1995px;
	position: absolute;
	top: 45px;
	padding-top: 40px;
	pos-left: 5px;
	padding-bottom: 30px;
}
/*//////////就业明星/////////////////////////////*/
.jiuyx{
	height: 250px;
	width: 1200px;
}

.mxing{
	height: 40px;
	width: 1200px;
}
.mxing a{
	font-size: 14px;
	color: #333333;
	line-height: 40px;
}
.mxing .yuan{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #CFCDCB;
	line-height: 10px;
	margin:5px 5px;
	padding: 10px 10px;
	text-align: center;
	font-weight: 700;
}
.jiuyx .mingdan{
	height: 190px;
	padding-top: 10px;
	position: relative;
	padding-bottom: 10px;
}
.mingdan ul{
	height: 190px;
	list-style: none;
	margin: 0px;
	position: absolute;
	left: 0px;
	padding: 0px;
}
.mingdan ul li{
	height: 200px;
	float: left;
	width: 1200px;
	top: 0px;
	left: 0px;
	background-color: #FFDEAD;
}
.mingdan ul li table{
	width: 1200px;
	height: 125px;
}
.mingdan ul li table td{
	width: 290px;
	height: 125px;
	font-size: 12px;
	color: #909195;
	line-height: 24px;
}
.toux{
	height: 125px;
	width: 100px;
	margin-top: 10px;
	margin-right: 30px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
}
.toux .txm{
	height: 100px;
	width: 100px;
	font-size: 14px;
	line-height: 24px;
}
.toux .txm img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.feifan{
	height: 590px;
	margin-top: 20px;
}
.rongyu{
	width: 1200px;
	height: 40px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #333333;
}
.rongzhang{
	width: 1200px;
	height: 520px;
	padding: 15px 10px;
}
#ryo{
	height: 180px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#ryo li{
	width: 270px;
	height: 180px;
	float: left;
	margin-left: 35px;
	text-align: center;
	background-color: #f3f3f3;
}
#ryo li img{
	height: 160px;
	margin-top: 10px;
}
#wi{
	height: 80px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#wi li{
	height: 80px;
	width: 270px;
	float: left;
	font-size: 12px;
	line-height: 80px;
	color: #333333;
	text-align: center;
	margin-left: 20px;
}

/*校区分布..........................*/

.fenb{
	height: 260px;
	margin-top: 20px;
	padding: 0px;
}
.fenb .xifen{
	height: 40px;
	width: 1200px;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #333333;
}
.fenmxing{
	height: 200px;
	padding-top: 20px;
	margin: 0px;
}
.fenmxing table{
	height: 40px;
}
.fenmxing table td{
	height: 20px;
	font-size: 14px;
	line-height: 14px;
}
/*/////////////合作企业///////////*/
.hezi{
	height: 140px;
	margin-top: 10px;
}
.heozi{
	height: 40px;
	width: 1200px;
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	color: #333333;
}
.baidug{
	height: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 1200px;
	margin: 0px;
}
.baidug ul{
	height: 80px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.baidug ul li{
	height: 80px;
	width: 185px;
	float: left;
	margin:0px 5px;
	border: 1px solid #B0B0B0;
}
.baidug ul li img{
	height: 80px;
	width: 185px;
}


/*//底部......................................*/
.diub{
	min-width: 1200px;
	padding: 0px;
	margin-top: 55px;
	height: 520px;
	background-color: #f3f3f3;
}
.ddaoh{
	width: 1200px;
	height: 130px;
	margin: auto;
}
.ddaoh ul{
	width: 1200px;
	left: 0px;
	height: 100px;
	line-height: 12px;
	padding-top: 30px;
	list-style: none;
}
.ddaoh ul li{
	width: 200px;
	height: 50px;
	float: left;
	margin: 0px;
}

.ddaoh ul li p{
	font-size: 14px;
	text-align: left;
	margin-left: 50px;
	color: #4e4e4e;
}
.diggj{
	height: 385px;
	padding: 40px;
	border-top: solid 1px #DCDCDC;
	border-bottom: solid 1px #DCDCDC;
}
.diggj ul{
	width: 1000px;
	height: 20px;
	margin: 0px;
	
}
.diggj ul li{
	width: 132px;
	height: 18px;
	float: left;
	margin-right: 10px;
	list-style: none;
}
.diggj ul li a{
	font-size: 14px;
	line-height: 20px;
	color: #4e4e4e;
}
.diggj li ul.er-sd{
	width: 132px;
	margin-top: 2px;
	position: absolute;
	padding: 0px;
	list-style: none;
}
.diggj li ul.er-sd li{
	width: 132px;
	height: 20px;
	padding-bottom: 2px;
	float: none;
	
}
.diggj li ul.er-sd li a{
	font-size: 12px;
	line-height: 20px;
	color: #8c8c8c;
	text-align: left;
}
.diggj li ul.er-sd li:hover a{
	color: red;
}
.wems{
	width: 140px;
	height: 205px;
	line-height: 12px;
	font-size: 12px;
	margin-right: 35px;
}
.wems a{
	color: #535353;
}
.wems img{
	width: 100px;
	height: 95px;
}
.lianj{
	width: 970px;
	height: 45px;
	margin-top: 235px;
	padding: 0px;
}
.lianj a{
	font-size: 12px;
	line-height: 24px;
	color: #8c8c8c !important;
}
.loal{
	height: 145px;
	margin: 0px;
	padding: 0px;
	background-color: #f3f3f3;
}

.loa{
	
	height: 145px;
	background-color: #f3f3f3;
	border-bottom: solid 1px #DCDCDC;
	border-top: solid 1px #DCDCDC;
}
.loa table{
	width: 1200px;
	height: 110px;
	align-content: center;
	padding: 0px;
	margin-top: 10px;
}
.loa table td{
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #8c8c8c;
	text-align: center;
}
