/*w.300px 110
h.105px 80*/
.free{
	width: 100%;
	height: .35rem;
	padding: 0 5%;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
.free .free-ul{
	width: 100%;
	height: .33rem;
	list-style: none;
}
.free .free-ul li{
	width: 50%;
	height: .33rem;
	float: left;
	text-align: center;
}
.free .free-ul li a{
	font-size: .14rem;
	line-height: .33rem;
	color: #a6a6a6;
}
.free .free-ul li.girl a{
	color: #92E7D2;
	height: .33rem;
	font-size: .14rem;
	padding: .04rem 10%;
	line-height: .35rem;
	border-bottom: 2px solid #92e7d2;
}
/*海报广告开始*/
.banner-img{
	width: 100%;
	height: 1.05rem;
}
.banner-img img{
	width: 100%;
	height: 1.05rem;
}
/*海报广告结束*/
/*免费区 倒计时区*/
.chong-free{
	width: 100%;
	height: 0.35rem;
	padding: 0 5%;
	margin: 3% auto;
	position: relative;
}
.chong-free .xi-heng{
	position: absolute;
	left: 5%;
	top: 0;
	font-style: normal;
	line-height: .35rem;
	color: #82d1be;
}
.chong-free h3{
	height: .16;
	font-size: .16rem;
	line-height: .35rem;
	margin-left: 3%;
	color: #333;
	font-weight: normal;
}
.chong-free .time-item{
	height: .35rem;
	position: absolute;
	right: 5%;
	top: 0;
}
.chong-free .time-item span{
	color: #9ec9fc;
	font-weight: 700px;
}
#hour_show,#minute_show,#second_show{
	width: .24rem;
	/*float: left;*/
	padding: 0 .02rem;
	font-size: .16rem;
	line-height: .35rem;
	color: #FFF;
	border-radius: 20%;
	background-color: #9ec9fc;
}
/*查看免费历程*/
.cha-free{
	width: 100%;
	padding: 0 5%;
}
.cha-free ul{
	width: 100%;
	list-style: none;
}
.cha-free ul li{
	width: 31%;
	height: auto;
	padding: 0;
	float: left;
	background-color: #fff;
	margin: 0 3.5% 5% 0;
}
.cha-free ul li img{
	width: 100%;
	height: 100%;
	border-radius: 0.05rem;
}
.cha-free ul li p{
	/*width: 70%;*/
	height: 0.4rem;
	margin-top: 0.1rem;
	text-align: left;
	/*padding: 0px 30% 0 0;*/ 
	font-size: 0.12rem;
	line-height: 0.2rem;
	color: #8a8a8a;
}
.cha-free ul li:nth-child(3n){
	margin: 0 0 5% 0;
}
.cha-free ul li.xians{
	width: 100%;
	height: 0.3rem;
	color: #61c3b6;
	font-size: 0.12rem;
	margin: 0;
	line-height: 0.3rem;
	text-align: center;
	border-top: 1px solid #E3E3E3;
}

/*免费精品*/
.chong-free1{
	width: 100%;
	/*height: 0.35rem;*/
	padding: .1rem 0 0;
	background-color: #f8f7f3;
	margin: 0 auto 3%;
	position: relative;
}
.chong-free1 em{
	position: absolute;
	height: .35rem;
	left: 5%;
	top: 47.5%;
	font-style: normal;
	line-height: .25rem;
	color: #82d1be;
}
.chong-free1 h3{
	width: 100%;
	height: .35rem;
	background-color: #fff;
	font-size: .16rem;
	padding: 3% 5% 3% 8%;
	line-height: .25rem;
	color: #333;
	font-weight: normal;
}
.jing-free{
	width: 100%;
	padding: 0 5%;
}
.jing-free ul{
	width: 100%;
	list-style: none;
	margin-top: .1rem;
}
.jing-free ul li{
	width: 100%;
	height: 1.45rem;
	float: left;
	margin: 0 0 5% 0;
} 
.jing-free ul li .img-pp{
	width: 30%;
	height: 100%;
	margin: 0 5% 0 0;
	overflow: hidden;
}
.jing-free ul li .img-pp img{
	width: 100%;
	height: 100%;
}
.jing-free ul li .new-tn{
	width: 65%;
	height: 100%;
}
.jing-free ul li .new-tn h3{
	width: 100%;
	height: .35rem;
	font-weight: 700;
	font-size: .16rem;
	line-height: .35rem;
	color: #333;
}
.jing-free ul li .new-tn p{
	width: 100%;
	height: ;
	font-size: .13rem;
	line-height: .2rem;
	color: #666;
}
.body-neir{
	display: block;
}
.body-neir0{
	display: block;
}
.body-neir1{
	display: none;
}
