@charset "utf-8";
html{
	color:#000;
	background:#fff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,
h4,h5,h6,pre,code,form,fieldset,legend,
input,textarea,p,blockquote,th,td,hr,
button,article,aside,details,figcaption,
figure,footer,header,hgroup,menu,nav,section{
margin:0;
padding:0;
color:#333;
font-family:microsoft yahei,微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
font-size:13px;
}
article,aside,details,figcaption,
figure,footer,header,hgroup,menu,
nav,section{
display:block
}
audio,canvas,video{
display:inline-block;
*display:inline;*zoom:1
}
body,button,input,select,textarea{
font:13px/1.5 tahoma,arial,\5b8b\4f53}
input,select,textarea{
font-size:100%;
font-family:microsoft yahei,微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;font-size:13px}table{
border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{
font-style:normal;font-weight:500
}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a{color:#333}
a:hover{}
ins,a{text-decoration:none}
.fn-clear:after{
visibility:hidden;
display:block;
font-size:0;
content:" ";
clear:both;
height:0}
.fn-clear{zoom:1}
body .fn-hide{display:none}
.fn-left,.fn-right{display:inline}
.fn-left{float:left}
.fn-right{float:right}


@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495781161863'); /* IE9*/
  src: url('iconfont.eot?t=1495781161863#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495781161863') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495781161863') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495781161863#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\e60a"; }

.icon-liebiao:before { content: "\e605"; }

.icon-sousuo_sousuo:before { content: "\e62c"; }

/*主题*/

body{background:#f8f8f8}
a:hover{text-decoration:none}
#willesPlay{
	margin: 20% auto;
	box-shadow: 0px 0px 5px  #999;
	background-color: #f7fcf5;
	position:relative}
#willesPlay .playHeader{
	width:100%;
	height:.48rem;
	background: url()repeat-x;
	border-radius:3px 3px 0 0}
#willesPlay .playHeader .videoName{
	font-size:16px;
	width:100%;height:48px;
	line-height:48px;text-align:center;margin:0 auto;color:#7a7f82}
#willesPlay .playContent{
	position:relative;
	height:auto;
	overflow:
	hidden;background:#000;
	cursor:pointer}
#willesPlay .playContent .turnoff{
	position:absolute;
	z-index:10;
	right:-40px;
	top:50%;
	margin-top:-90px;
	}
#willesPlay .playContent .turnoff li a{
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	margin-bottom:20px;
	text-align:center;
	font-size:20px;
	color:#fff;background:rgba(0,0,0,.5);
	}
#willesPlay .playContent .turnoff li a:hover{
	color:#666;
	}
#willesPlay .playContent .playTip{
	position:absolute;
	width:55px;
	height:55px;
	text-align:center;
	line-height:50px;
	top:50%;
	left:50%;
	margin-left:-50px;
	margin-top:-35px;
	background: #e66e3c;
	font-size:60px;
	border:3px solid #fff;
	border-radius:50%;
	color:#fff;
	cursor:pointer;
	}
#willesPlay .playControll{
	position:absolute;
	z-index:2147483650;
	width:100%;
	height:48px;
	bottom:-48px;
	background-color: #f7fcf5;
	border-radius:0 0 3px 3px;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	box-shadow: 0px 0px 5px #999;
	}
#willesPlay .fullControll
			{
	background:rgba(0,0,0,.5);
						}
#willesPlay .fullControll .timebar span
	{color:#fff}
#willesPlay .playControll .playPause{
	float:left;
	width:15px;
	height:15px;
	background: #e66e3c ;
	margin:16px 0 0 2%;
	border-radius: 50%;
	cursor:pointer;
	}
#willesPlay .playControll .playIcon{
	background-position:0 -32px}
#willesPlay .playControll .timebar{
	float:left;
	width:calc(100% - 145px);
	line-height:48px;
	overflow:hidden;
	margin:0 auto;
	margin:0 5%}
#willesPlay .playControll .timebar .progress{
	float:left;
	width: 45%;
	margin:19px 7% 0 20%;
	height:10px;
	cursor:pointer;
	overflow: hidden;
    background-color: #f5f5f5;
	}
	
.progress-bar-danger {
    background-color: rgb(217, 83, 79);
}
#willesPlay .playControll .timebar span{
	float:left;
	width:8%;
	text-align:center;
	}
#willesPlay .otherControl{
	width: 20%;
	float:right;
	position:relative;
	}
#willesPlay .otherControl span{
		display:inline-block;
		width:15px;
		height:15px;
		float: left;
		text-align:center;
		/*line-height:48px;*/
		vertical-align:middle;
		font-size: 20px;
		margin:14px 5px;
		border-radius: 50%;
		cursor:pointer}
#willesPlay .otherControl span:nth-child(1)
		{
			/*font-size:px;*/
			color:#ef6a6c;
			/*background-color: #EF6A6C;*/
		}
#willesPlay .otherControl span:nth-child(2){
			/*background-color: #919597;*/
			color:#919597}
#willesPlay .otherControl .volumeBar{
				display:none;
				position:absolute;
				top:-110px;
				left:4px;
				width:26px;
				height:100px;
				background:#f1f2f2;
				border-radius:4px;
				cursor:pointer}
#willesPlay .otherControl .volumeBar:after{
		content:"";
		display:block;
		position:absolute;
		bottom:-7px;
		left:5px;
		width:0;
		height:0;
		border-left:8px solid transparent;
		border-right:8px solid transparent;
		border-top:8px solid #f1f2f2;
		}
#willesPlay .otherControl .volumeBar .volumewrap{
		background:#a2a7aa;
		width:8px;
		height:80px;
		position:absolute;
		bottom:10px;
		left:9px;
		border-radius:4px}
#willesPlay .otherControl .volumeBar .progress{
		background:0 0;
	}
#willesPlay .otherControl .volumeBar .progress-bar{
		position:absolute;
		bottom:0;left:0;
		border-radius:4px}
video::-webkit-media-controls-enclosure{
	display:none!important}
	:-webkit-full-screen{}